{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html>
<head>
    {{   void(this.head) }}
</head>
<body>
{{   void(this.beginBody()) }}

{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}
